# Oculta todas las carpeta del proyecto, para que el usuario no pueda entrar desde la URL
Options All -Indexes
# URL amigables, no las muestra la ruta completa en la barra de direcciones, index=valor?,,,,
# URL amigables
RewriteEngine On 

#Permita letras y numeros
# Cuando se este enviando a traves de la ruta "index.php" con variable GET "ruta" que se convierta en una 
# URL amigable, expresion regular "^()$" a utilizar ^([-a-zA-Z0-9]+)$ 
#$1 = Convierte cualquier valor que traiga "ruta y la convierta en una URL amigable, es decir $1 = index.php?ruta

RewriteRule ^([-a-zA-Z0-9]+)$ index.php?ruta=$1
